body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #EDF8F9;
}

h1 {
    font-family: Roboto;
    font-size: 24px;
}

.balanca {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    width: calc(100% - 16px);
    
}

.info-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info-box > h3 {
    color: #242424;
    font-family: Roboto;
    margin-bottom: 8px;
    font-size: 16px;
}

.info-box > input, .info-box > p, .info-box > select {
    margin: 0;
    border: none;
    padding: 8px;
    background-color: #6ACDC1;
    border-radius: 12px;
    min-height: 28px;
    font-family: Roboto;
    font-size: 14px;
    color: #FDFFFE;
    font-weight: 600;
    display: flex;
    align-items: center;
}

@font-face{
    font-family:'DS-Digital';
    src: url(Fonts/DS-DIGI.TTF);
   }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:focus{
  outline: none;
}
